body {
    background-color: black;
    color: white;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

a {
    color: aquamarine;
}

h1 {
    font-weight: 400;
}